//Vars
:root {
    --rad: 4px;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #198754;
    --btn-width: 35px;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

// Main styles
.SearchForm {
    position: relative;
    width: 184px;
    background: var(--color-brand);
    border-radius: var(--rad);
}
.SearchForm input, .SearchForm button {
    border: 0;
    color: var(--color-dark);
}
.SearchForm input {
    outline: 0;
    width: 100%;
    background: #343a40;
    color: #fff;
    padding: 3px 10px 4px;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
.SearchForm button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
    color: #fff;
}
.SearchForm input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}
.SearchForm label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
